@font-face{
	font-family: "Helvetica";
	font-weight: 700;
	src: url("/fonts/HelveticaBold.woff#iefix");
}
@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

:root {
    --red: #EE2F36;
    --gray: #283037;
    --pink: #FFCFCC;
}
* {
    word-wrap: break-word;
    transition: all ease-in 0.2s;
}
*::selection {
    background-color: var(--pink);
    color: var(--gray);
}
*::-moz-selection {
    background-color: var(--pink);
    color: var(--gray);
}
html {
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 1em;
    background-color: var(--white);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--red);
}
a {
    color: var(--gray);
    text-decoration: none;
}
h1, h2, h3, button, a, p {
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
}
button {
    cursor: pointer;
    padding: 0;
}
h1 {
    font-size: 600%;
    width: 500px;
    line-height: 90%;
    letter-spacing: -0.05rem;
}
h2 {
    font-size: 400%;
    line-height: 94%;
    letter-spacing: -0.05rem;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}
h3 {
    font-size: 262%;
    letter-spacing: -0.9px;
    line-height: 95%;
    color: var(--gray);
}
a {
	outline: none;
    font-size: 200%;
}
a:hover {
    color: var(--red);
}
a:visited {
    color: inherit;
}
p, p a {
    font-size: 100%;
}
p a:hover {
    text-decoration: none;
    color: inherit;
}
div.main a p {
    line-height: unset !important;
    word-spacing: unset !important;
    letter-spacing: unset !important;
}
video {
    opacity: 0.7;
}
img {
    pointer-events: none;
    vertical-align: unset;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
::-webkit-input-placeholder {
    color: #696868;
}
::-ms-input-placeholder {
    color: #696868;
}
::-moz-input-placeholder {
    color: #696868;
}
::-o-input-placeholder {
    color: #696868;
}
input {
    width: 300px;
    height: 50px;
    padding: 5px;
    border: 4px solid var(--gray);
    box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
    font-size: 75%;
    font-weight: bold;
    color: #4A4A4B;
    background-color: var(--pink);
}
input:focus {
    outline-color: var(--red);
    color: var(--gray);
}
svg {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    fill: var(--gray);
}
svg:hover {
    fill: var(--red);
}
.preloader {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--pink);
    opacity: 1;
}
.preloader img {
    border-radius: 50%;
    box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.56);
    animation: loading 1.25s linear infinite;
}
.preloader-done {
    opacity: 0;
    transition: all linear 1s;
}
.preloader-none {
    display: none;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3D(-50%, -50%, 0);
    width: 128px;
    height: 128px;
}
.loader img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.subpages .full {
    background-color: var(--red);
}
.subpages .main a {
    color: var(--red);
}
.subpages .main a:hover {
    color: var(--gray);
}
.subpages .main p {
    background-color: var(--red);
}
.subpages .links svg {
    fill: var(--gray);
}
.subpages .links svg:hover {
    fill: var(--pink);
}
.subpages .arrow {
    fill: var(--red);
}
.subpages .arrow:hover {
    fill: var(--gray);
}
.one-page .main {
    margin-bottom: 20px;
}
.beta {
    color: var(--red);
    font-size: 50%;
}
.cookie {
    display: none;
    background-color: var(--gray);
    box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
    padding: 25px;
    color: var(--pink);
    position: fixed;
    z-index: 5;
    right: 0;
    width: 200px;
    top: 50%;
    transform: translateY(-50%);
}
.cookie p:first-child {
    font-size: 150%;
    margin-bottom: 10px;
}
.cookie .emoji {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}
.cookie a {
    font-size: 100%;
    color: var(--pink);
    border-bottom: 4px solid var(--pink);
}
.cookie a:hover {
    text-decoration: none;
    color: var(--red);
    border-bottom: 4px solid var(--red);
}
.agree {
    box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
    background-color: var(--red);
    border: 0;
    height: 50px;
    width: 150px;
    font-size: 125%;
    color: var(--gray);
    line-height: 50px;
}
.agree:hover {
    border-bottom: 50px solid var(--gray);
    color: var(--red);
}
.next {
    width: 50px;
    height: 50px;
    background-color: var(--gray);
    float: left;
    box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
}
.next:hover {
    border-bottom: 50px solid var(--red);
}
.arrow {
    fill: var(--red);
    width: 50px;
    height: 50px;
    margin: 0 0 0 0;
    padding: 10px;
}
.arrow:hover {
    fill: var(--gray);
}
.clients {
    background-image: url("/images/png/dottedback.png");
    background-size: contain;
    background-position: center center;
}
.quote {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -o-user-select: none;
}
.review {
    font-size: 150%;
    position: relative;
    z-index: 2;
    width: 400px;
    font-style: italic;
    margin-bottom: 0;;
    line-height: 30px;
    word-spacing: 0.01rem;
    letter-spacing: -0.005rem;
}
.link, .nlink {
    font-size: 100%;
    border-bottom: 4px solid var(--gray);
}
.link:hover, .nlink:hover {
    text-decoration: none;
    color: #D7050C;
    border-bottom: 4px solid #D7050C;
}
.links {
    text-align: center;
}
.links a {
    line-height: 100vh;
}
.link-to-cart {
    -webkit-transition: all ease-out 1s;
    -moz-transition: all ease-out 1s;
    -ms-transition: all ease-out 1s;
    -o-transition: all ease-out 1s;
    transition: all ease-out 1s;
    display: block;
    opacity: 0;
    font-size: 150%;
    height: 50px;
    width: 200px;
    position: fixed;
    bottom: -50px;
    right: 40px;
    z-index: 100;
    box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
    background-color: var(--red);
    border: 5px solid var(--gray);
    padding: 0 15px;
    visibility: visible;
    animation-name: fadeInUp;
}
.link-to-cart p {
    margin: 0;
    line-height: 40px;
    top: 0;
}
.link-to-cart p, .link-to-cart img {
    position: absolute;
    display: inline-block;
}
.link-to-cart img {
    height: 30px;
    margin: 5px;
    width: 30px;
    right: 15px;
}
.link-to-cart:hover {
    -webkit-transition: all ease-in 0.2s;
    -moz-transition: all ease-in 0.2s;
    -ms-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
    border-bottom: 45px solid var(--gray);
}
.link-to-cart:hover p {
    color: var(--red);
}
.link-to-product {
    text-decoration: none;
}
.link-to-product:hover {
    text-decoration: none;
}
.link-to-product p {
    color: var(--red);
}
.link-to-product:hover p {
    color: var(--gray);
}
.cart-func {
    position: relative;
    font-size: 125%;
    border: 4px solid var(--gray);
    background-color: var(--red);
    color: var(--gray);
    height: 50px;
    padding: 0 10px;
    line-height: 42px;
    display: inline-block;
}
.cart-func:hover {
    border-bottom: 46px solid var(--gray);
    color: var(--red);
}
.cart-func:active {
    outline: 0;
}
.add-to-cart, .add-to-season-cart {
    margin: 0 0 30px 0;
    box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
    position: absolute;
    bottom: 30px;
}
.button-container {
    box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
    border: 4px solid var(--gray);
    height: 50px;
    margin: 0 0 30px 0;
    position: absolute;
    bottom: 30px;
}
.button-container .cart-func {
    border: none;
    height: 42px;
    display: inline-block;
    line-height: 42px;
    vertical-align: top;
}
.button-container .cart-func:hover {
    border-bottom: 42px solid var(--gray);
}
.number {
    font-size: 125%;
    width: 50px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: var(--gray);
    display: inline-block;
    margin: 0;
    color: var(--red);
}
.image-main {
    background-image: url("/images/png/flower1.png");
}
.image-error {
    background-image: url("/images/png/404back.png");
}
.image-cookies {
    background-image: url("/images/png/cookieback.png");
}
.image-cart {
    background-image: url("/images/png/cartback.png");
}
.image-div-2 {
    background-image: url("/images/png/flower2.png");
}
.id {
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.full {
    padding: 0;
}
.perv, .image-div {
    position: fixed;
}
.image-div {
    right: 33.33%
}
.links {
    position: absolute;
    right: 0;
    z-index: 3;
}
.main {
    width: 100vw;
    position: relative;
    top: 20vh;
    padding-left: 20vw;
    padding-right: 20vw;
    margin-bottom: 40vh;
    z-index: 2;
    color: var(--gray);
    min-height: 60vh;
}
.main p {
    margin-top: 15px;
    margin-bottom: 40px;
    width: 450px;
}
.main h2 {
    margin-bottom: 0px;
}
.product, .season-product {
    padding: 80px;
}
.product {
    background-color: var(--pink);
}
.season-product {
    background-color: var(--pink);
    background-image: url("/images/Seasonback.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.second {
    padding: 80px;
    background-color: var(--red);
    color: var(--gray);
}
.third {
    background-color: var(--gray);
}
.fourth {
    background-color: var(--red);
}
.fourth, .fifth {
    color: var(--gray);
}
.fifth .content {
    background-color: var(--white);
}
.why-header { 
    position: absolute;
    z-index: 3;
    padding: 80px;
}
.why-header, .why-text {
    min-height: 5vh;
    color: var(--red);
}
.why-video {
    min-height: 5vh;
    padding: 0;
}
.content {
    padding: 80px;
}
.content {
    min-height: 70vh;
}
.why-text {
    padding: 80px;
}
.big-div {
    position: absolute;
    overflow-x: hidden;
    width: 80vw;
    height: 500px;
    left: 20vw;
}
.biggy {
    text-transform: uppercase;
    display: block;
    white-space: nowrap;
    font-size: 2000%;
    opacity: 0.1;
    top: 20vh;
    left: 20vw;
    margin: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    line-height: 100%;
    
}
.hb {
    display: none;
}
.we, .insta {
    position: relative;
    z-index: 2;
}
.insta {
    border: 20px solid var(--gray);
}
.insta-photos-blocks {
    padding: 0;
}
.insta-photos {
    display: block;
    width: 100%;
    height: auto;
    border-top: center 20px solid var(--gray);
    border-bottom: center 20px solid var(--gray);
}
.account-link {
    text-align: center;
    display: block;
    background-color: var(--pink);
    width: 100%;
    font-size: 300%;
}
.account-link:hover {
    color: var(--red);
    text-decoration: none;
}
.main p, .we {
    line-height: 22.5px;
    word-spacing: 0.05rem;
    letter-spacing: -0.005rem;
}
.we {
    margin: 20px 0 80px 0;
    width: 600px;
}
.socials a {
    border-bottom: 4px solid var(--gray);
}
.socials a:hover {
    color: var(--pink);
    border-bottom: 4px solid var(--pink);
}
.images {
    width: 600px;
}
.square {
    position: relative;
    z-index: 2;
    box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
    border: 20px solid var(--gray);
    width: 275px;
    height: 275px;
}
.newyear-items {
    margin-bottom: 20px;
}
.newyear-items h2 {
    width: 500px;
}
.newyear-items .square {
    width: 200px;
    height: 200px;
    border: 15px solid var(--gray);
    margin-top: 20px;
    pointer-events: unset;
    -webkit-user-select: unset;
    -moz-user-select: unset;
    user-select: unset;
    cursor: pointer;
}
.newyear-items .square:hover {
    border: 17.5px solid var(--gray);
}
.button {
    text-align: center;
    font-size: 150%;
    margin: 40px 0;
    box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
    color: var(--red);
    background-color: var(--gray);
    width: 200px;
    height: 50px;
    float: left;
}
.button:hover {
    border-bottom: 50px solid var(--red);
    color: var(--gray);
}
.button p {
    line-height: 50px;
}
.s1 {
    margin-right: 25px;
}
.s3 {
    border: 20px solid var(--red);
}
.emoji {
    width: 50px;
    height: 50px;
    display: block;
}
.video-div {
    width: 100%;
    min-height: 1vh;
}
.video-div video {
    width: 100%;
    min-height: 1vh;
}
.map {
    position: absolute;
    bottom: -45vh;
    left: 0;
    height: 70vh;
    padding: 0;
    background-color: var(--gray);
}
.map-container, .map-background, #map {
    height: 70vh;
}
.map-container {
    position: absolute;
    width: 100%;
    opacity: 0.5;
}
.map-container:hover {
    opacity: 1;
}
.map-container:hover + h2 {
    opacity: 0;
}
.map-background {
    position: absolute;
    width: 100%;
    background-image: url("/images/png/wtc.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.map h2 {
    position: relative;
    text-align: center;
    margin-top: 35vh;
    transform: translateY(-50%);
    color: var(--pink);
    z-index: 2;
}
.blur {
    background-image: url("/images/png/wtcblur.png");
    position: relative;
    z-index: 2;
    width: 610px;
    height: 300px;
    border: 20px solid var(--gray);
    padding: 25px 15px;
}
.wtc {
    background-image: url("/images/png/wtc.png");
}
.blur, .wtc {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.inline {
    position: relative;
    z-index: 2;
    width: 300px;
    height: 300px;
    border: 20px solid var(--gray);
}
.inline, .blur {
    margin-right: 5px;
    display: inline-block;
    box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
}
.contact-info {
    position: absolute;
    font-size: 125%;
    left: 15px;
    right: 15px;
}
.zind {
    position: relative;
    z-index: 2;
}
.back-to-main {
    background-color: var(--gray);
    color: var(--red);
    height: 50px;
    padding: 0 15px;
    font-size: 150%;
    line-height: 50px;
    float: left;
    box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
}
.back-to-main p {
    margin: 0;
}
.back-to-main:hover {
    border-bottom: 50px solid var(--red);
    color: var(--gray);
    text-decoration: none;
}
.name {
    font-size: 175%;
    margin: 10px 0 20px 0;
    width: 90%;
    line-height: 37.5px;
    letter-spacing: -0.01rem;
}
.cost {
    font-size: 150%;
    opacity: 0.8;
    position: absolute;
    bottom: 125px;
    margin: 0;
}
.total {
    padding: 0;
    min-height: 20vh;
}
.total, .email {
    margin-top: 80px;
}
.input-text {
    font-size: 150%;
}
.send-email {
    box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
    background-color: var(--gray);
    border: none;
    height: 50px;
    width: 300px;
    font-size: 150%;
    color: var(--red);
    margin-top: 40px;
    line-height: 50px;
}
.remove-fr-cart {
    width: 105px;
}
.plus-goods, .minus-goods, .plus-season-goods, .minus-season-goods {
    width: 50px;
}
.cart-place {
    margin-bottom: 80px;
}
.empty-cart {
    font-size: 200%;
    margin-top: 40px;
}
.empty-cart a:hover {
    color: var(--pink);
    border-bottom: 4px solid var(--pink);
}
.input, .cart, .mail, .numbers, .retry {
    display: none;
}
.alert-div {
    display: none;
    padding: 0 40px;
    color: var(--red);
    position: fixed;
    height: 200px;
    width: 50vw;
    text-align: center;
    z-index: 5;
    top: 40vh;
    left: 25vw;
    right: 25vw;
    background-image: url("/images/png/alert.png");
    background-position: center center;
    background-size: cover;
}
.thanks {
    display: none;
    padding: 0 40px;
    color: var(--red);
    width: 50vw;
    height: 400px;
    text-align: center;
    position: fixed;
    z-index: 5;
    top: 20vh;
    left: 25vw;
    right: 25vw;
    background-image: url("/images/png/thanks.png");
    background-position: center center;
    background-size: cover;
}
.alert-div svg, .thanks svg {
    position: absolute;
    z-index: 1;
    right: 10px;
    width: 25px;
    height: 25px;
    top: 10px;
    fill: var(--red);
}
.alert-div svg:hover, .thanks svg:hover {
    cursor: pointer;
    fill: var(--pink);
}
.alert-div h2 {
    line-height: 200px;
    margin: 0;
}
.thanks h2 {
    margin: 40px 0;
}
.alert-div h2 {
    font-size: 200%;
}
.alert-div h2, .thanks h2, .thanks p {
    position: relative;
    z-index: 1;
}
.thanks p {
    margin: 0;
}
.thanks a {
    margin: 40px 0;
    position: absolute;
    z-index: 1;
    right: 30%;
    left: 30%;
}
.thanks a:hover {
    border-bottom: 50px solid var(--pink);
    color: var(--red);
}
.thanks-overlay, .alert-div-overlay {
    opacity: 0.7;
}
.overlay {
    display: none;
    opacity: 0.3;
    z-index: 4;
}
.overlay, .thanks-overlay, .alert-div-overlay {
    position: fixed;
    background-color: var(--gray);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.emb {
    margin-bottom: 20px;
}
.pmb {
    margin-bottom: 40px;
}
.s2 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}
.item {
    width: 300px;
    height: 570px;
    margin-right: 50px;
    position: relative;
    z-index: 2;
    display: inline-block;
    vertical-align: top;
}
.item img, .item-2 img {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    user-select: auto;
    box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
    border: 20px solid var(--gray);
    width: 275px;
    pointer-events: unset;
}
.item img:hover, .item-2 img:hover {
    border: 24px solid var(--gray);
    cursor: pointer;
}
.item hr {
    position: absolute;
    bottom: 16px;
    width: 350px;
    background-color: rgb(40, 48, 55, 0.05);
    margin: 0;
}
/* .item-2 {
    width: 600px;
    min-height: 400px;
    margin-right: 50px;
    position: relative;
    z-index: 2;
} */
.popup {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	display: none;
    text-align: center;
    z-index: 20;
}
.popup_bg {
	background: rgba(0,0,0,0.5);
	position: absolute;
	z-index: 1;
	height: 100%;
    width: 100%;
    cursor: zoom-out;
}
.popup_img {
    position: relative;
    display: inline-block;
    z-index: 2;
    width: 600px;
    height: 600px;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transform: translateY(-50%);
    border: 20px solid var(--gray);
}
.popup_description {
    position: relative;
    z-index: 2;
    background-color: var(--red);
    display: inline-block;
    height: 600px;
    width: 300px;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transform: translateY(-50%);
    vertical-align: top;
    padding: 25px;
    cursor: auto;
}
.popup_description h3 {
    text-align: left;
    font-size: 200%;
}
.popup_description p {
    text-align: left;
    font-size: 150%;
    opacity: 0.7;
}
.popup_description button {
    visibility: visible !important;
    display: block;
    position: absolute;
    bottom: 25px;
    margin: 0;
    width: auto;
}
.popup_description .del-goods {
    box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
}
.margin {
    margin-bottom: 40px;
}
.send-email {
    box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
    background-color: var(--gray);
    border: none;
    height: 50px;
    width: 300px;
    font-size: 150%;
    color: var(--red);
    margin-top: 40px;
    line-height: 50px;
}
.scroll-to-season {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.scroll-to-season:hover {
    text-decoration: none;
}
.scroll-to-season p {
    font-size: 50%;
    margin: 0;
    width: 200px;
}
.split {
    margin-top: 80px;
}
#map {
    width: 100%;
    position: absolute;
}
#map a {
    font-size: unset;
}

/* ------------MEDIA ADAPTATION------------ */
@media screen and (max-height: 1800px) {
    .full, .full-cont {
        min-height: 100vh;
    }
    .perv, .image-div, .links {
        min-height: 100vh;
    }
    .perv-main, .image-main, .links-main {
        min-height: 150vh;
    }
}
@media screen and (max-width: 992px) {
    * {
        background-attachment: scroll;
    }
    html, body {
        overflow-x: hidden;
        width: 100%;
    }
    body::-webkit-scrollbar {
        width: unset;
        background-color: unset;
    }
    body::-webkit-scrollbar-thumb {
        background-color: unset;
    }
    h1 {
        display: block;
        font-size: 350%;
        text-align: center;
        width: unset;
    }
    h2 {
        font-size: 250%;
    }
    input {
        width: 90vw;
    }
    .subpages .main p {
        padding: 5px;
    }
    .one-page .main {
        margin-bottom: 0;
    }
    .cookie {
        top: unset;
        bottom: 0;
        left: 0;
        transform: translateY(0);
        width: unset;
    }
    .map h2 {
        margin-top: 50vh;
    }
    .image-div {
        background-attachment: scroll;
    }
    .main {
        position: static;
        width: 100vw;
        margin: 0;
        padding: 0 5vw 5vw 5vw;
        display: inline-block;
        background-image: url("/images/png/flower1.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .main-cart {
        background-image: url("/images/png/cartback.png");
    }
    .main-error {
        background-image: url("/images/png/404back.png");
    }
    .main-cookies {
        background-image: url("/images/png/cookieback.png");
    }
    .main p {
        position: static;
        top: 5px;
        margin-top: 0;
        width: 90vw;
    }
    .main h2 {
        width: unset;
    }
    .main .square {
        width: 90vw;
        height: 90vw;
    }
    .newyear-items p {
        font-size: 100%;
    }
    .image-div {
        display: none;
    }
    .links {
        min-height: 50vh;
        height: 50vh;
        position: static;
    }
    .links a {
        line-height: 50vh;
    }
    .quote {
        top: 10px;
        left: 10px;
    }
    .review {
        position: relative;
        z-index: 2;
        width: unset;
        font-size: 125%;
        margin: 20px 0;
        line-height: 25px;
    }
    .second, .product, .season-product {
        padding: 5vw;
    }
    .why-header, .main-content {
        padding: 5vw 5vw 0 5vw;
    }
    .why-text {
        padding: 0 5vw;
    }
    .why-text:first-child {
        padding: 0 5vw 5vw 5vw;
    }
    .who-we {
        width: unset;
    }
    .content {
        padding: 0;
    }
    .square {
        box-shadow: 0 12px 70px 4px rgba(0, 0, 0, 0.56);
        display: block;
        width: 90vw;
        height: 90vw;
    }
    .s1 {
        margin: 0 0 5vw 0;
    }
    .s2 {
        float: unset;
    }
    .why-we, .where-we, .socials {
        width: unset;
    }
    .map {
        position: static;
        height: 100vh;
    }
    .map-container, .map-background, #map {
        height: 100vh;
    }
    .map-background {
        background-attachment: scroll;
    }
    .blur {
        background-size: unset;
        width: 90vw;
        padding: 10px;
        height: unset;
        margin: 0 0 5vw 0;
    }
    .inline {
        width: 90vw;
        height: 90vw;
        margin: 0 0 5vw 0;
        display: block;
    }
    .blur, .inline {
        background-attachment: scroll;
    }
    .contact-info {
        position: static;
        font-size: 125%;
        margin: 0;
    }
    .video-div {
        display: none;
    }
    .why-header {
        position: static;
    }
    .num {
        display: inline-block;
    }
    .button {
        margin: 5vw 0 0 0;
    }
    .item, .item-2 {
        width: 100vw;
        margin-right: 0;
        height: auto;
    }
    .item img, .item-2 img {
        width: 90vw;
    }
    .item hr {
        position: static;
        bottom: unset;
        width: 100%;
        margin-bottom: 10px;
    }
    .item:last-child hr {
        display: none;
    }
    .cost {
        position: static;
        margin-bottom: 15px;
    }
    .name {
        width: 100%;
    }
    .biggy {
        display: none;
    }
    .link-to-cart {
        display: none;
        bottom: 5vw !important;
        right: 5vw;
        left: 5vw;
        width: 90vw;
    }
    .thanks, .alert-div {
        top: 5vh;
        left: 5vw;
        width: 90vw;
        height: 90vh;
    }
    .alert-div h2 {
        line-height: unset;
        margin: 40vh 0;
    }
    .thanks a {
        width: 80vw;
        left: 5vw;
    }
    .send-email {
        width: 90vw;
    }
    .popup {
        height: auto;
        min-height: 100vh;
        overflow-y: scroll;
    }
    .popup_bg {
        min-height: 100vh;
        height: auto;
        overflow-x: hidden;
    }
    .popup_img, .popup_description {
        width: 90vw;
        height: auto;
        top: unset;
        transform: translateY(0%);
        display: block;
    }
    .popup_img {
        margin: 5vw 5vw 0 5vw;
    }
    .popup_description {
        margin: 0 5vw 15vw 5vw;
        padding: 5vw;
    }
    .popup_description button {
        position: static;
    }
    .split {
        margin-top: 5vw;
    }
    .map {
        height: 100vh;
    }
    .button-container {
        position: static;
        width: 263px;
    }
    .cart-place {
        margin-bottom: 5vw;
    }
    .account-link {
        font-size: 150%;
    }
    .insta {
        margin-bottom: 5vw;
    }
    /* SEASON */
    .scroll-to-season {
        width: unset;
    }
    .main-ny {
        margin: 5vw;
    }
    .add-to-cart, .add-to-season-cart {
        position: static;
    }
    .nyi {
        width: 615px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1000px) {
    .main {
        width: 400px;
    }
    .who-we, .why-we {
        width: 400px;
    }
    .square {
        width: 200px;
        height: auto;
    }
    .s1 {
        margin-right: 15px;
    }
    .s2 {
        float: unset;
    }
}
@media screen and (min-width: 992px) and (max-height: 700px) {
    .perv-main {
        min-height: 175vh;
    }
}